<div class="row">
  <div class="col-sm-6" style="margin-left: 312px;">
    <div class="element-wrapper">
      <div class="element-box">
      <%= form_with(model: project, local: true) do |form| %>

        <div class="field">
          <div class="form-group row">
            <div class="col-sm-4 ">
              <label class="col-form-label" for=""> <strong> <%= form.label :title %> :</strong></label>
            </div>
            <!-- NICHE NA DIV MATHI FORM-CONTROL KADHI NAKHI TO DESIGN MA 2 NAY AAVE -->
            <div class="col-sm-8 form-control">
              <strong><%= form.text_field :title, class: "form-control", placeholder: "Title"  %></strong>
            </div>
            <% if project.errors.any? %>
            <div class="col-sm-8 form-control">
              <%= project.errors.messages[:title].join(', ') %>
            </div>
            <% end %>
          </div>
        </div>

        <div class="field">
          <div class="form-group row">
            <div class="col-sm-4 ">
              <label class="col-form-label" for=""> <strong> <%= form.label :description %> :</strong></label>
            </div>
            <!-- NICHE NA DIV MATHI FORM-CONTROL KADHI NAKHI TO DESIGN MA 2 NAY AAVE -->
            <div class="col-sm-8 form-control">
              <strong><%= form.text_area :description, class: "form-control", placeholder: "Description" %></strong>
            </div>
          </div>
        </div>
        <br>

        <div class="field">
          <div class="form-group row">
            <div class="col-sm-4 ">
              <label class="col-form-label" for=""> <strong> <%= form.label :manager_id %> :</strong></label>
            </div>
            <!-- NICHE NA DIV MATHI FORM-CONTROL KADHI NAKHI TO DESIGN MA 2 NAY AAVE -->
            <div class="col-sm-8 form-control">
              <strong>
                <%# <%= form.number_field :manager_id, class: "form-control", placeholder: "Manager_id" %>
                <%= form.select(:manager_id, User.pluck(:name, :id), { prompt: 'Select'},class: "form-control") %>
              </strong>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="form-group row">
            <div class="col-sm-4 ">
              <label class="col-form-label" for=""> <strong> <%= form.label :website %> :</strong></label>
            </div>
            <!-- NICHE NA DIV MATHI FORM-CONTROL KADHI NAKHI TO DESIGN MA 2 NAY AAVE -->
            <div class="col-sm-8 form-control">
              <strong><%= form.text_field :website, class: "form-control", placeholder: "Website" %></strong>
            </div>
            <% if project.errors.any? %>
            <div class="col-sm-8 form-control">
              <%= project.errors.messages[:website].join(', ') %>
            </div>
            <% end %>
          </div>
        </div>

        <div class="field">
          <div class="form-group row">
            <div class="col-sm-4 ">
              <label class="col-form-label" for=""> <strong> <%= form.label :start_date %> :</strong></label>
            </div>
            <!-- NICHE NA DIV MATHI FORM-CONTROL KADHI NAKHI TO DESIGN MA 2 NAY AAVE -->
            <div class="col-sm-8 form-control">
              <strong>
                <%= form.date_field :start_date, class: "form-control"%>
              </strong>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="form-group row">
            <div class="col-sm-4 ">
              <label class="col-form-label" for=""> <strong> <%= form.label :end_date %> :</strong></label>
            </div>
            <!-- NICHE NA DIV MATHI FORM-CONTROL KADHI NAKHI TO DESIGN MA 2 NAY AAVE -->
            <div class="col-sm-8 form-control">
              <strong>
                <%= form.date_field :end_date, class: "form-control"%>
              </strong>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="form-group row">
            <div class="col-sm-4 ">
              <label class="col-form-label" for=""> <strong> <%= form.label :Active %> :</strong></label>
            </div>
            <!-- NICHE NA DIV MATHI FORM-CONTROL KADHI NAKHI TO DESIGN MA 2 NAY AAVE -->
            <div class="col-sm-8 form-control">
              <strong>
                <%= form.check_box :active,placeholder: "Active" %>
              </strong>
            </div>
          </div>
        </div>

        <div class="actions text-center" style="padding-top: 12px">
          <%= form.submit class:"btn btn-light btn-outline-dark"%>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
